@model IEnumerable<GigHub.Models.Gig>
@using System.Globalization
@{
    ViewBag.Title = "Attending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gigs I am Attending</h2>
<ul class="gigs">
    @if (Model.Count() == 0)
    {
        <li>There is no attending gigs.</li>
    }
    else
    {
        foreach (var gig in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @gig.DateTime.ToString("MMM", DateTimeFormatInfo.InvariantInfo)
                    </div>
                    <div class="day">
                        @gig.DateTime.ToString("d ")
                    </div>
                </div>

                <div class="details">
                    <span class="artist">
                        @gig.Artist.UserName
                    </span>
                    @if (gig.IsCanceled)
                    {
                        <span class="label label-warning status-cancel">Canceled</span>
                    }

                    <span class="genre">
                        @gig.Genre.Name
                    </span>
                </div>
            </li>
        }
    }

</ul>
